<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AutoLotDAL.Properties.Settings.AUTOLOTConnectionString"
            connectionString="Data Source=DESKTOP-I3V8QK7\SQLEXPRESS;Initial Catalog=AUTOLOT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>